/* ========= utilitaires ========== */

.font-size-sm{
    font-size: .6em;
}

.font-size-sm1{
    font-size: .7em;
}

.font-size-sm2{
    font-size: .9em;
}

.font-size-tiny{
    font-size: .4em;
}

.bg-gray{
    background-color: #f5ededf6;
}

.bg-blue{
    background-color: #6177f3;
}

.bg-darken{
    background:linear-gradient(to bottom,#00000080,#000000ab);
}

.is-orange{
    color: #ffa500;
}

/* ============ Header ========== */

.divider{
    height: 2px;
    flex-basis: 50%;
}

.nav-mobile > a{
    height: 6vh;
}

/* ========= Section de rappel ============== */

.reminder{
    position: relative;
    overflow-x: hidden;
}

.reminder-title{
    position: absolute;
}

.reminder-content{
    width: 500vw;
}

.reminder-content > p{
    width: 200vw;
}


/* ==========Section article ======== */

.articles .card img{
    height: 150px;
    object-fit: cover;
}
/* ============== Profil section ============== */

.game-ranking img{
    width: 60px;
    height: auto;
    object-fit: cover;
    border: 1.5px solid #0d74eb;
    border-radius: 100px;
}

/* ============= Section footer =========== */

footer{
    height: 8vh;
}