/* ========= utilitaires ========== */

.font-size-1{
    font-size: .7em;
}

.font-size-2{
    font-size: .9em;
}

.font-size-3{
    font-size: .4em;
}

.bg-gray{
    background-color: #f5ededf6;
}

.bg-blue{
    background-color: #0a25be;
}

/* ============ Header ========== */

.divider{
    height: 2px;
    flex-basis: 50%;
}

.nav-mobile > a{
    height: 4vh;
}

/* ============ Banner Rappel ========== */

.rappel{
    height: 5vh;
    position: relative;
    overflow-x: hidden;
}

.rappel > div:first-child{
    z-index: 99;
}

.rappel-info{
    /* position: absolute; */
    display:block;
    overflow-x: hidden;
}

.rappel-info > p{
    position: absolute;
    width: 200vw;
    word-break: keep-all;
}